.list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 20px;

  &__link {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #000;
    transition: all 0.3s;
    font-family: Arial, Helvetica, sans-serif;
    background: #a5faf3;
    color: #2c4543;
    font-weight: bold;
  }

  &__link:hover {
    transform: scale(1.2);
  }

  &__link:focus {
    background-color: #599eff;
  }
}
